@import "./css/fonts.less";
@import "./css/acc-wizard.less";

/* Variables de color */

@blanco : #fff;
@grisClaro : #b3b3b3;
@grisClaro-2 : #cecdcd;
@grisClaro-3 : #bfbfbf;
@grisClaro-4 : #9d9c9c;
@grisClaro-5 : #e1e1e1;
@grisClaro-6 : #f2f9ea;
@grisClaro-7 : #feebee;
@grisClaro-8 : #EEEEEE;
@grisOscuro : #535353;
@grisOscuro-2: #666;
@negro : #000;
@verde : #92d14f;
@azul : #0076bf;
@azul-2 : #7aa7c3;
@azul-3 : #e5f1f8;
@rojo : #a94442;
@rojo-2 : #f93d5c;

/* Estilos custom */

.mt35 {
  margin-top: 35px;
}
.mb35 {
  margin-bottom: 35px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}

body {
  font-family: "Arial Narrow", arial !important;
  font-size: 16px;
  color: @negro;
  background-image: url('../images/mapa-fondo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  //background-size: cover;
}

/* CABECERA */
header {
  height: 65px;
  border-bottom: 1px solid @negro;
  @media(max-width:767px) {
    display: none !important;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    line-height: 27px;
    margin-top: 15px;
    @media(max-width:992px) {
      font-size: 28px;
    }
    @media(max-width:767px) {
      font-size: 26px;
    }
    @media(max-width:720px) {
      font-size: 20px;
    }
    @media(max-width:480px) {
      font-size: 16px;
    }
  }
  .cerrar {
    font-family: "Arial Narrow", arial;
    /* font-weight: bold; */
    font-size: 32px;
    line-height: 32px;
    color: @negro;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    &:hover,&:focus {
      text-decoration: none;
      color: @negro;
    }
    @media(max-width:992px) {
      margin-top: 10px;
    }
  }
  img {
    @media(max-width:720px) {
      width: 70px;
      height: 50px;
    }
  }
}

/* WIZARD */

.acc-wizard {
  .menu-wizard {
    @media(max-width:767px) {
      display: none;
    }
    &.fijado {
      position: fixed;
      top: 0;
      z-index: 1;
      background: @blanco;
      padding-right: 2%;
      .acc-wizard-sidebar {
        margin-top: -20px;
      }
      .connecting-line {
        top: 31%;
      }
    }
  }
  .contenido-wizard {
    margin-top: 40px;
    &.fijado {
      padding-top: 160px;
      z-index: 0;
      @media(max-width:767px) {
        padding-top: 40px;
      }
    }
    @media(max-width:767px) {
      padding-top: 40px;
    }
  }
  .connecting-line  {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    border-bottom:1px dashed @grisClaro;
    border-width: 2px;
    z-index: 1;
    @media(max-width:767px) {
      width: 85%;
    }
  }
  .acc-wizard-sidebar {
    padding-left: 0px;
    margin-bottom: -5px;
    @media(max-width:767px) {
      display: none;
    }
    li {
      display: inline-block;
      /*margin: 0;
      padding: 0;
      margin-right:auto;
      margin-left: auto;*/
      margin: 2em 0 0.5em 2.1em;
      padding: 0.25em 1.10em;
      @media(max-width:1200px){
        margin-left: 0px;
      }
      @media(max-width:992px) {
        margin-left: -31px;
      }
      @media(max-width:767px) {
        margin-left: -32px;
      }
      @media(max-width:720px) {
        margin-left: -39px
      }
      @media(max-width:680px) {
        margin-left: -45px;
      }
      @media(max-width:480px) {
        margin-left: -69px;
      }
      &:first-child {
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 0px;
        position: relative;
        &:after{
          content: '';
          width: 24%;
          height: 50px;
          background-color: @blanco;
          position: absolute;
          left: -8px;
          bottom: 30px;
          z-index: 1;
        }
      }
      &:last-child {
        padding-right: 0px;
        position: relative;
        &:after {
          content: '';
          width: 75%;
          height: 50px;
          background-color: @blanco;
          position: absolute;
          left: 83px;
          bottom: 30px;
          z-index: 1;
          @media(max-width:1200px) {
            height: 24px;
            bottom: 45px;
          }
          @media(max-width:767px) {
            width: 40%;
          }
        }
      }
      a{
        display: block;
        color: @grisOscuro;
        &:hover,&:focus {
          text-decoration: none;
        }
        .circle-step {
          display: block;
          text-align: center;
          width: 54px;
          height: 54px;
          border: 1px dashed @grisClaro;
          border-radius: 50%;
          border-style: dashed;
          border-width: 2px;
          font-size: 30px;
          font-weight: bold;
          padding-top: 4px;
          padding-right: 0px;
          margin-right: auto;
          margin-left: auto;
          position: relative;
          z-index: 2;
          background: @blanco;
          color: @grisClaro-2;
        }
        .circle-text {
          color: @grisOscuro;
          text-align: center;
          display: table-caption;
          line-height: 16px;
          margin-top: 10px;
          width: 90px;
        }
      }
      &.acc-wizard-todo {
        &.acc-wizard-active {
          &:first-child {
            .circle-step {
              background: @grisOscuro;
              border: 1px dashed @grisOscuro;
              color: @blanco;
            }
            .circle-text {
              font-weight: bold;
            }
          }
        }
      }
      &:nth-child(2){
        &.acc-wizard-active {
          .circle-step {
            background:@verde ;
            border: 1px dashed @verde;
            color: @blanco;
          }
          .circle-text {
            font-weight: bold;
          }
        }
      }
      &.acc-wizard-active{
        .circle-step {
          background:@azul ;
          border: 1px dashed @azul;
          color: @blanco;
        }
        .circle-text {
          font-weight: bold;
        }
      }
    }
  }

  /* MENU RESPONSIVE */
  .menu-responsive {
    display: none;
    background: @azul;
    border: none;
    border-color: @blanco;
    @media(max-width:767px) {
      display: block;
    }
    .navbar-collapse {
      border-color: @blanco;
      max-height: 100%;
      padding-right: 0;
      padding-left: 0;
      border: none;
    }
    .navbar-toggle {
      margin: 4px 0px 0px 15px;
      //margin-left: 15px;
      border-color: transparent;
      background-color: transparent !important;
    }
    .navbar-brand {
      color: @blanco;
    }
    .navbar-nav {
      margin: 0;
      li {
        a {
          color: @blanco;
          font-size: 18px;
          padding: 0;
          display: flex;
          border-bottom: 1px solid @azul;
          &:hover,&focus {
            color: @blanco;
          }
          .circle-step {
            background: @blanco;
            float: left;
            display: inline-block;
            width: 14%;
            height: 36px;
            color: @grisOscuro;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            padding-top: 7px;
            border-right: 1px solid #CDE5F2;
          }
          .circle-text {
            background: @blanco;
            float: right;
            display: inline-block;
            width: 86%;
            height: 36px;
            color: @grisOscuro;
            padding-top: 7px;
            text-align: center;
            font-size: 16px;
          }
        }
        &.active {
          a {
            color: @grisOscuro;
            background: @blanco;
          }
        }
        /* Clases al guardar pasos */
        &.acc-wizard-todo{
          &.acc-wizard-active {
            &:first-child {
              .circle-step {
                background: @grisOscuro;
                color: @blanco;
                border-right: none;
              }
            }
            &:nth-child(2) {
              .circle-step {
                background: @verde;
                color: @blanco;
                border-right: none;
              }
            }
            .circle-step {
              background: @azul;
              color: @blanco;
              border-right: none;
            }
            .circle-text {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

/* ACCORDION */
#accordion-chep {
  padding-left: 50px;
  @media(max-width:767px) {
    padding-left: 0px;
  }
  .panel {
    &.panel-default {
      border: none;
      border-color: transparent;
      box-shadow: none;
      min-height: 134px;
      // margin-bottom: 55px;
      border-top-color: @blanco;
      border-left: 1px dashed @grisClaro;
      border-width: 2px;
      background: transparent;
      .panel-heading {
        border-bottom: 1px solid @negro;
        background: @blanco;
        background: transparent;
        margin-right: 0.1px;
        z-index: 0;
        .panel-title {
          font-family: "Arial Narrow", arial;
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          line-height: 24px;
          color: @grisOscuro;
          @media(max-width:480px) {
            font-size: 16px;
            margin-left: 30px;
          }
          a{
            &:hover, &:focus {
              text-decoration: none;
            }
            .dropdown-step {
              width: 96px;
              height: 46px;
              // background-color: @grisOscuro;
              border-bottom-left-radius: 110px;
              border-bottom-right-radius: 110px;
              margin-right: auto;
              margin-left: auto;
              margin-top: 2.4px;
              display: flex;
              align-items: center;
              &.negro {
                background: @grisOscuro;
              }
              &.verde {
                background: @verde;
                // margin-top: 3px;
              }
              &.azul {
                background: @azul;
                // margin-top: 2px;
              }
            }
            .img-drop {
              background-image: url('../images/flecha-arriba.png');
                background-repeat: no-repeat;
                width: 22px;
                height: 15px;
                margin-left: auto;
                margin-right: auto;
                transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transition: transform .2s ease-in-out;
            }
            .imagen-paso {
              @media(max-width:767px) {
                width: 75px;
                height: 75px;
                top: 0px;
                left: 0px;
              }
              &.negro {
                border: 1px dashed @grisOscuro;
                background: @grisOscuro;
                color: @blanco;
              }
              &.verde {
                border: 1px dashed @verde;
                background: @verde;
                color: @blanco;
              }
              &.azul {
                border: 1px dashed @azul;
                background: @azul;
                color: @blanco;
              }
              .literal {
                font-size: 18px;
                line-height: 40px;
                font-weight: normal;
                display: block;
                @media(max-width:767px) {
                  font-size: 14px;
                  line-height: 24px;
                }
              }
              .numero-paso {
                font-size: 48px;
                display: block;
                @media(max-width:767px) {
                  font-size: 32px;
                }
              }
              .total-paso {
                font-size: 18px;
                line-height: 40px;
                font-weight: normal;
                display: block;
                @media(max-width:767px) {
                  font-size: 14px;
                  line-height: 24px;
                }
              }
            }
            &.collapsed {
              .img-drop {
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transition: transform .2s ease-in-out;
              }
              .imagen-paso {
                font-family: "Arial Narrow", arial;
                width: 103px;
                height: 103px;
                position: absolute;
                float: left;
                border-radius: 50%;
                top: -15px;
                left: -50px;
                border: 1px dashed @grisClaro;
                border-width: 2px;
                background: @blanco;
                color: @grisOscuro;
                @media(max-width:767px) {
                  width: 75px;
                  height: 75px;
                  top: 0px;
                  left: 0px;
                }
              }
            }
          }
          .imagen-guardar {
            background-image: url(../images/icono-guardar.png);
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            display: inline-flex;
            float: right;
            position: absolute;
            right: 15px;
            cursor: pointer;
          }
        }
      }
      .panel-collapse {
        &.collapse {
          &.in {
            .circle-question {
              display: inline-block;
              transition: transform .2s ease-in-out;
            }
          }
        }
      }
      .panel-body {
        padding-top: 45px;
        border-top: none;
        font-family: "Arial Narrow", arial;
        .titulo-formulario {
          // margin-top: 35px;
          // margin-bottom: 35px;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          color: @grisOscuro;
        }
        .subtitulo-formulario {
          font-family: "Arial Narrow", arial;
          font-size: 16px;
          color: @negro;
          font-weight: bold;
          line-height: 38px;
        }
        .form-group {
          line-height: 38px;
          width: 100%;
          &.has-error {
            &.activate {
            input,select{
              &.form-control {
                &.chep {
                  border: 1px solid @rojo;
                  }
                }
              }
              select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                line-height: normal;
	              position: relative;
                background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='@grisOscuro'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
                background-size: 12px;
                background-position: calc(104% - 20px) 12px;
                background-repeat: no-repeat;
                @media(max-width:767px) {
                  background-position: calc(100% - 20px) 12px;
                }
              }
              .help-block {
                display: block;
              }
            }
          }
        }
        select {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          -ms-appearance: none;
          line-height: normal;
	        position: relative;
          background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='@grisOscuro'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
          background-size: 12px;
          background-position: calc(104% - 20px) 12px;
          background-repeat: no-repeat;
          background-color: @blanco;
          @media(max-width:767px) {
            background-position: calc(100% - 20px) 12px;
          }
        }
        input,select {
          text-align: center;
          &.form-control {
            &.chep {
              /* width: 212px; */
              width: 100%;
              height: 30px;
              font-size: 16px;
              color: @negro;
              border: 1px solid @grisClaro-3;
              border-radius: 5px;
              box-shadow: none;
              &.actual {
                border: 1px solid @azul-2;
                background: @azul-3;
              }
            }
            &.porcentaje {
              /* width: 171px; */
              width: 83%;
              margin-left: -15px;
              @media(max-width:767px) {
                float: left;
                margin-left: 0px;
              }
            }
          }
        }
        select {
          &.form-control {
            &.chep {
              &.actual {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                -ms-appearance: none;
                line-height: normal;
                position: relative;
                background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='@grisOscuro'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
                background-size: 12px;
                background-position: calc(104% - 20px) 12px;
                background-repeat: no-repeat;
                border: 1px solid @azul-2;
                background-color: @azul-3;
                @media(max-width:767px) {
                  background-position: calc(100% - 20px) 12px;
                }
              }
            }
          }
        }
        .signo-porcentaje {
          font-size: 16px;
          color: @negro;
          margin-left: 12px;
          @media(max-width:767px) {
            float: right;
          }
        }
        label {
          font-family: "Arial Narrow", arial;
          font-size: 16px;
          line-height: 38px;
          color: @grisOscuro-2;
          font-weight: normal;
          @media(max-width:767px) {
            line-height: 24px;
          }
        }
        .circle-question {
          width: 30px;
          height: 30px;
          background: @grisOscuro;
          color: @blanco;
          /* position: absolute; */
          margin-left: 0.5em;
          /* left: -28px; */
          border-radius: 50%;
          display: none;
          transition: transform .2s ease-in-out;
          cursor: pointer;
          @media(max-width:767px) {
            /* float: left;
            margin-right: 10px;
            margin-left: 0em !important; */
          }
          .question {
            font-family: "Arial Narrow", arial;
            text-align: center;
            display: block;
            font-weight: 700;
            font-size: 23px;
            line-height: 24px;
            margin-top: 3px;
          }
        }
        .texto-columna {
          font-family: "Arial Narrow", arial;
          font-size: 14px;
          color: @grisOscuro;
        }
        .texto-columna-negrita {
          font-family: "Arial Narrow", arial;
          font-size: 14px;
          color: @grisOscuro;
          font-weight: bold;
        }
        .texto-escenario {
          font-family: "Arial Narrow", arial;
          font-size: 16px;
        }
        .texto-columna-no-aplicable {
          font-family: "Arial Narrow", arial;
          font-size: 14px;
          color: @grisClaro-4;
        }
        .leyenda-requerido {
          font-size: 16px;
          color: @grisOscuro;
          margin-left: 85px;
          margin-top: 20px;
          @media(max-width:767px) {
            margin-left: 0px;
            float: right;
          }
        }
        .contenedor-leyenda {
          display: none;
          @media(max-width:767px){
            display: block;
            background: @grisClaro-8;
            text-align: center;
            font-style: italic;
            margin-top: 10px;
            height: 30px;
          }
          .actual {
            margin-top: 5px;
            width: 20px;
            height: 19px;
            border-radius: 50%;
            background: @azul-3;
            border: 1px solid @azul;
            display: inline-block;
          }
          .propuesta {
            margin-top: 5px;
            margin-left: 26px;
            width: 20px;
            height: 19px;
            border-radius: 50%;
            background: @blanco;
            border: 1px solid @grisClaro-3;
            display: inline-block;
          }
          .literal {
            display: inline;
            vertical-align: super;
          }
        }
        &.azul {
          .titulo-formulario {
            color: @azul;
          }
          .texto-escenario {
            color: @azul;
          }
          .circle-question {
            background: @azul;
          }
          .asterisco {
            font-size: 22px;
            color: @azul;
          }
        }
        &.verde {
          .titulo-formulario {
            color: @verde;
          }
          .texto-escenario {
            color: @verde;
          }
          .circle-question {
            background: @verde;
          }
          .asterisco {
            font-size: 22px;
            color: @verde;
          }
          .content-btn-generar {
            .btn {
              &.btn-default {
                background: @verde;
                border-color: @verde;
                &:hover{
                  background: @blanco;
                  color: @verde;
                  border: 2px solid @grisClaro-5;
                  //transition: color .15s ease-out;
                  transition: all .25s ease-in-out;
                }
              }
            }
          }
        }
        .content-btn-generar {
          text-align: center;
          margin-top: 25px;
          margin-bottom: 25px;
        }
        .btn {
          &.btn-default {
            background: @azul;
            color: @blanco;
            border-color: @azul;
            border-radius: 23.5px;
            height: 47px;
            font-family: "Arial Narrow", arial;
            font-size: 19px;
            font-weight: bold;
            line-height: 12px;
            padding: 15px 40px;
            letter-spacing: normal;
            //transition: color .15s ease-out;
            transition: all .25s ease-in-out;
            &:hover{
              background: @blanco;
              color: @azul;
              border: 2px solid @grisClaro-5;
              //transition: color .15s ease-out;
              transition: all .25s ease-in-out;
            }
            &:focus {
              outline: none;
            }
            &:active {
              box-shadow: none;
            }
          }
        }
        .help-block {
          margin-top: 5px;
          margin-bottom: 5px;
          display: none;
        }
        .content-alertas {
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
          .alert {
            margin-bottom: 5px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            width: 90%;
            &.alert-success {
              border-color: transparent;
              color: @verde;
              background-color: @grisClaro-6;
              font-size: 20px;
              font-weight: 400;
            }
            &.alert-danger {
              border-color: transparent;
              color: @rojo-2;
              background-color: @grisClaro-7;
              font-size: 20px;
              font-weight: 400;
              width: 90%;
            }
          }
        }
      }
      /* Clases comunes a todos */
      &.negro, &.azul, &.verde {
        .imagen-paso {
          font-family: "Arial Narrow", arial;
          width: 103px;
          height: 103px;
          position: absolute;
          float: left;
          border-radius: 50%;
          top: -15px;
          left: -50px;
        }
      }
      &.negro {
        .panel-title {
          color: @grisOscuro;
          .dropdown-step {
            background: @grisOscuro;
          }
          a {
            &.collapsed {
              .imagen-paso {
                border: 1px dashed @grisClaro;
                border-width: 2px;
                background: @blanco;
                color: @grisOscuro;
              }
            }
            .imagen-paso {
              border: 1px dashed @grisClaro;
              border-width: 2px;
              background: @blanco;
              color: @grisOscuro;
              &.save {
                border: 1px dashed @grisOscuro;
                border-width: 2px;
                background: @grisOscuro;
                color: @blanco;
              }
            }
          }
        }
      }
      &.azul {
        .panel-title {
          color: @azul;
          .dropdown-step {
            background: @azul;
          }
          a {
            &.collapsed {
              .imagen-paso {
                border: 1px dashed @grisClaro;
                border-width: 2px;
                background: @blanco;
                color: @grisOscuro;
              }
            }
            .imagen-paso {
              border: 1px dashed @grisClaro;
              border-width: 2px;
              background: @blanco;
              color: @grisOscuro;
              &.save {
                border: 1px dashed @azul;
                border-width: 2px;
                background: @azul;
                color: @blanco;
              }
            }
          }
        }
      }
      &.verde {
        .panel-title {
          color: @verde;
          .dropdown-step {
            background: @verde;
          }
          a {
            &.collapsed {
              .imagen-paso {
                border: 1px dashed @grisClaro;
                border-width: 2px;
                background: @blanco;
                color: @grisOscuro;
              }
            }
            .imagen-paso {
              border: 1px dashed @grisClaro;
              border-width: 2px;
              background: @blanco;
              color: @grisOscuro;
              &.save {
                border: 1px dashed @verde;
                border-width: 2px;
                background: @verde;
                color: @blanco;
              }
            }
          }
        }
      }
      @media(max-width:767px) {
        /* Panel-body */
        border-left: none;
      }
    }
  }
}

/* ASCENSOR */

.GoTop {
  display: none;
  @media(max-width:767px) {
    display: none !important;
  }
  i{
    font-size: 32px;
    position: fixed !important;
    top: 93% !important;
    right: 55px;
    cursor: pointer;
    color: @grisClaro;
    opacity: .7;
    z-index: 1001;
    text-indent: 100%;
    display: flex;
  }
}

/* MODALES */

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        i {
          color: @grisOscuro-2;
        }
        font-family: "Arial Narrow", arial;
        font-size: 16px;
        line-height: 38px;
        color: @grisOscuro-2;
        font-weight: normal;
        .close {
          color: @grisOscuro-2;
          &:focus{
            outline: none;
          }
        }
        .titulo {
          display: initial;
          vertical-align: text-bottom;
        }
      }
      .modal-body {
        font-family: "Arial Narrow", arial;
        font-size: 16px;
        line-height: 24px;
        color: @grisOscuro-2;
        font-weight: normal;
        // text-align: justify;
        .contenido-imagen {
          display: table;
          margin: 10px auto;
        }
      }
    }
  }
}

/* Estilos para IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .acc-wizard {
    .acc-wizard-sidebar {
      // margin-right: -33px;
      li {
        margin: 2em 0 0.5em 5.05em;
        a{
          .circle-text {
            margin-left: -18px;
          }
        }
        &:last-child {
          &:after {
            left: 70px;
          }
        }
      }
    }
  }
  .modal {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .contenido-imagen {
            display: block;
          }
        }
      }
    }
  }
}

/* Capa cargando formularios */

.panel-collapse {
  margin-top: 10px;
}
#accordion-chep .panel.panel-default .panel-body {
  padding: 15px;
  position: relative;
}
.container-loading {
  background-color: #000;
  opacity: 0.2;
  width:100%;
  height: 100%;
  position: absolute;
  top: 5px;
  bottom:0px;
  right: 0;
  left:0;
  transition: opacity .15s linear;
  display: none;
}
.container-loading.on {
  display: block;
}

/* Estilos MS EDGE */
@supports (-ms-ime-align:auto) {
  .acc-wizard {
    .acc-wizard-sidebar {
      // margin-right: -33px;
      li {
        margin: 2em 0 0.5em 5.05em;
        a{
          .circle-text {
            margin-left: -18px;
          }
        }
        &:last-child {
          &:after {
            left: 70px;
          }
        }
      }
    }
  }
}
