﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;
    */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.todo {
    background-color: #FFFACD;
    border: 1px solid #ff6a00;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px 0;
    font-size: small;
    color: #ff0000;
}

a.logout {
    /*flex: 0 0 auto;*/
    /*align-self: center;*/
    text-align: right;
    background: url(../images/ico-logoutOFF.png) center right no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 1.0em;
    text-decoration: none;
}