﻿/* FUENTES */
/* CSS Document*/
@font-face {
  font-family: 'Arial Narrow';
  src: url('fonts/arialn-webfont.eot');
  src: url('fonts/arialn-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/arialn-webfont.woff') format('woff'), url('fonts/arialn-webfont.woff2') format('woff2'), /*url('./fonts/arialn-webfont.ttf') format('truetype'),*/ url('fonts/arialn-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: none;
}
/*!
 * Sample styles for jQuery accordion wizard based on bootstrap
 * Original author: @stephen_thomas
 * Licensed under the MIT license
 */
ol.acc-wizard-sidebar li {
  position: relative;
  margin: 0 0 0.5em 2em;
  padding: 0.25em 0.75em;
  list-style: none;
}
ol.acc-wizard-sidebar li a {
  color: #333;
}
ol.acc-wizard-sidebar li:before {
  background: #333;
}
ol.acc-wizard-sidebar li.acc-wizard-completed {
  color: #999;
}
ol.acc-wizard-sidebar li.acc-wizard-completed a {
  color: #999;
}
ol.acc-wizard-sidebar li.acc-wizard-completed:before {
  background: #999;
}
ol.acc-wizard-sidebar li.acc-wizard-completed:after {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.33333333em;
  width: 1.875em;
  content: "\00a0\2713";
  position: relative;
  bottom: 0.1em;
}
/*ol.acc-wizard-sidebar li.acc-wizard-active {
  color: #08c;
}
ol.acc-wizard-sidebar li.acc-wizard-active a {
  color: #08c;
}
ol.acc-wizard-sidebar li.acc-wizard-active:before {
  background: #08c;
}*/
ol.acc-wizard-sidebar li:first-child {
  margin-top: 0.75em;
}
.acc-wizard-step {
  margin-top: 2em;
}
.panel-heading {
  height: 2.6em;
  position: relative;
  z-index: 1;
}
.panel-collapse {
  padding-top: 2.6em;
  margin-top: -2.6em;
}
/* Variables de color */
/* Estilos custom */
.mt35 {
  margin-top: 35px;
}
.mb35 {
  margin-bottom: 35px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
body {
  font-family: "Arial Narrow", arial !important;
  font-size: 16px;
  color: #000;
  background-image: url('../images/mapa-fondo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* CABECERA */
header {
  height: 65px;
  border-bottom: 1px solid #000;
}
@media (max-width: 767px) {
  header {
    display: none !important;
  }
}
header h1 {
  font-size: 30px;
  text-align: center;
  line-height: 27px;
  margin-top: 15px;
}
@media (max-width: 992px) {
  header h1 {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  header h1 {
    font-size: 26px;
  }
}
@media (max-width: 720px) {
  header h1 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  header h1 {
    font-size: 16px;
  }
}
header .cerrar {
  font-family: "Arial Narrow", arial;
  /* font-weight: bold; */
  font-size: 32px;
  line-height: 32px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-top: 20px;
}
header .cerrar:hover,
header .cerrar:focus {
  text-decoration: none;
  color: #000;
}
@media (max-width: 992px) {
  header .cerrar {
    margin-top: 10px;
  }
}
@media (max-width: 720px) {
  header img {
    width: 70px;
    height: 50px;
  }
}
/* WIZARD */
.acc-wizard {
  /* MENU RESPONSIVE */
}
@media (max-width: 767px) {
  .acc-wizard .menu-wizard {
    display: none;
  }
}
.acc-wizard .menu-wizard.fijado {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #fff;
  padding-right: 2%;
}
.acc-wizard .menu-wizard.fijado .acc-wizard-sidebar {
  margin-top: -20px;
}
.acc-wizard .menu-wizard.fijado .connecting-line {
  top: 31%;
}
.acc-wizard .contenido-wizard {
  margin-top: 40px;
}
.acc-wizard .contenido-wizard.fijado {
  padding-top: 160px;
  z-index: 0;
}
@media (max-width: 767px) {
  .acc-wizard .contenido-wizard.fijado {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .acc-wizard .contenido-wizard {
    padding-top: 40px;
  }
}
.acc-wizard .connecting-line {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  border-bottom: 1px dashed #b3b3b3;
  border-width: 2px;
  z-index: 1;
}
@media (max-width: 767px) {
  .acc-wizard .connecting-line {
    width: 85%;
  }
}
.acc-wizard .acc-wizard-sidebar {
  padding-left: 0px;
  margin-bottom: -5px;
}
@media (max-width: 767px) {
  .acc-wizard .acc-wizard-sidebar {
    display: none;
  }
}
.acc-wizard .acc-wizard-sidebar li {
  display: inline-block;
  /*margin: 0;
      padding: 0;
      margin-right:auto;
      margin-left: auto;*/
  margin: 2em 0 0.5em 2.1em;
  padding: 0.25em 1.10em;
}
@media (max-width: 1200px) {
  .acc-wizard .acc-wizard-sidebar li {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  .acc-wizard .acc-wizard-sidebar li {
    margin-left: -30px;
  }
}
@media (max-width: 767px) {
  .acc-wizard .acc-wizard-sidebar li {
    margin-left: -32px;
  }
}
@media (max-width: 720px) {
  .acc-wizard .acc-wizard-sidebar li {
    margin-left: -39px;
  }
}
@media (max-width: 680px) {
  .acc-wizard .acc-wizard-sidebar li {
    margin-left: -45px;
  }
}
@media (max-width: 480px) {
  .acc-wizard .acc-wizard-sidebar li {
    margin-left: -69px;
  }
}
.acc-wizard .acc-wizard-sidebar li:first-child {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  position: relative;
}
.acc-wizard .acc-wizard-sidebar li:first-child:after {
  content: '';
  width: 24%;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: -8px;
  bottom: 30px;
  z-index: 1;
}
.acc-wizard .acc-wizard-sidebar li:last-child {
  padding-right: 0px;
  position: relative;
}
.acc-wizard .acc-wizard-sidebar li:last-child:after {
  content: '';
  width: 75%;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: 83px;
  bottom: 30px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .acc-wizard .acc-wizard-sidebar li:last-child:after {
    height: 24px;
    bottom: 45px;
  }
}
@media (max-width: 767px) {
  .acc-wizard .acc-wizard-sidebar li:last-child:after {
    width: 40%;
  }
}
.acc-wizard .acc-wizard-sidebar li a {
  display: block;
  color: #535353;
}
.acc-wizard .acc-wizard-sidebar li a:hover,
.acc-wizard .acc-wizard-sidebar li a:focus {
  text-decoration: none;
}
.acc-wizard .acc-wizard-sidebar li a .circle-step {
  display: block;
  text-align: center;
  width: 54px;
  height: 54px;
  border: 1px dashed #b3b3b3;
  border-radius: 50%;
  border-style: dashed;
  border-width: 2px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 4px;
  padding-right: 0px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
  background: #fff;
  color: #cecdcd;
}
.acc-wizard .acc-wizard-sidebar li a .circle-text {
  color: #535353;
  text-align: center;
  display: table-caption;
  line-height: 16px;
  margin-top: 10px;
  width: 90px;
}

.acc-wizard .acc-wizard-sidebar li.acc-wizard-todo.acc-wizard-active:first-child .circle-step {
  background: #535353;
  border: 1px dashed #535353;
  color: #fff;
}
.acc-wizard .acc-wizard-sidebar li.acc-wizard-todo.acc-wizard-active:first-child .circle-text {
  font-weight: bold;
}
.acc-wizard .acc-wizard-sidebar li:nth-child(2).acc-wizard-active .circle-step {
  background: #92d14f;
  border: 1px dashed #92d14f;
  color: #fff;
}
.acc-wizard .acc-wizard-sidebar li:nth-child(2).acc-wizard-active .circle-text {
  font-weight: bold;
}
.acc-wizard .acc-wizard-sidebar li.acc-wizard-active .circle-step {
  background: #0076bf;
  border: 1px dashed #0076bf;
  color: #fff;
}
.acc-wizard .acc-wizard-sidebar li.acc-wizard-active .circle-text {
  font-weight: bold;
}
.acc-wizard .menu-responsive {
  display: none;
  background: #535353;
  border: none;
  border-color: #fff;
}
@media (max-width: 767px) {
  .acc-wizard .menu-responsive {
    display: block;
  }
}
.acc-wizard .menu-responsive .navbar-collapse {
  border-color: #fff;
  max-height: 100%;
}
.acc-wizard .menu-responsive .navbar-toggle {
  margin: 4px 0px 0px 15px;
  border-color: transparent;
  background-color: transparent !important;
}
.acc-wizard .menu-responsive .navbar-brand {
  color: #fff;
}
.acc-wizard .menu-responsive .navbar-nav li a {
  color: #fff;
  font-size: 18px;
}
.acc-wizard .menu-responsive .navbar-nav li a:hover,
.acc-wizard .menu-responsive .navbar-nav li afocus {
  color: #fff;
}
.acc-wizard .menu-responsive .navbar-nav li.active a {
  color: #535353;
  background: #fff;
}
/* ACCORDION */
#accordion-chep {
  padding-left: 50px;
}
@media (max-width: 767px) {
  #accordion-chep {
    padding-left: 0px;
  }
}
#accordion-chep .panel.panel-default {
  border: none;
  border-color: transparent;
  box-shadow: none;
  min-height: 134px;
  border-top-color: #fff;
  border-left: 1px dashed #b3b3b3;
  border-width: 2px;
  background: transparent;
  /* Clases comunes a todos */
}
#accordion-chep .panel.panel-default .panel-heading {
  border-bottom: 1px solid #000;
  background: #fff;
  background: transparent;
  margin-right: 0.1px;
  z-index: 0;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title {
  font-family: "Arial Narrow", arial;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #535353;
}
@media (max-width: 480px) {
  #accordion-chep .panel.panel-default .panel-heading .panel-title {
    font-size: 16px;
    margin-left: 30px;
  }
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a:hover,
#accordion-chep .panel.panel-default .panel-heading .panel-title a:focus {
  text-decoration: none;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .dropdown-step {
  width: 96px;
  height: 46px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7.4px;
  display: flex;
  align-items: center;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .dropdown-step.negro {
  background: #535353;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .dropdown-step.verde {
  background: #92d14f;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .dropdown-step.azul {
  background: #0076bf;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .img-drop {
  background-image: url('../images/flecha-arriba.png');
  background-repeat: no-repeat;
  width: 22px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso {
    width: 75px;
    height: 75px;
    top: 0px;
    left: 0px;
  }
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso.negro {
  border: 1px dashed #535353;
  background: #535353;
  color: #fff;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso.verde {
  border: 1px dashed #92d14f;
  background: #92d14f;
  color: #fff;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso.azul {
  border: 1px dashed #0076bf;
  background: #0076bf;
  color: #fff;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso .literal {
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
  display: block;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso .literal {
    font-size: 14px;
    line-height: 24px;
  }
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso .numero-paso {
  font-size: 48px;
  display: block;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso .numero-paso {
    font-size: 32px;
  }
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso .total-paso {
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
  display: block;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-heading .panel-title a .imagen-paso .total-paso {
    font-size: 14px;
    line-height: 24px;
  }
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a.collapsed .img-drop {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}
#accordion-chep .panel.panel-default .panel-heading .panel-title a.collapsed .imagen-paso {
  font-family: "Arial Narrow", arial;
  width: 103px;
  height: 103px;
  position: absolute;
  float: left;
  border-radius: 50%;
  top: -15px;
  left: -50px;
  border: 1px dashed #b3b3b3;
  border-width: 2px;
  background: #fff;
  color: #535353;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-heading .panel-title a.collapsed .imagen-paso {
    width: 75px;
    height: 75px;
    top: 0px;
    left: 0px;
  }
}
#accordion-chep .panel.panel-default .panel-heading .panel-title .imagen-guardar {
  background-image: url(../images/icono-guardar.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-flex;
  float: right;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
#accordion-chep .panel.panel-default .panel-collapse.collapse.in .circle-question {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
#accordion-chep .panel.panel-default .panel-body {
  padding-top: 45px;
  border-top: none;
  font-family: "Arial Narrow", arial;
}
#accordion-chep .panel.panel-default .panel-body .titulo-formulario {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #535353;
}
#accordion-chep .panel.panel-default .panel-body .subtitulo-formulario {
  font-family: "Arial Narrow", arial;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  line-height: 38px;
}
#accordion-chep .panel.panel-default .panel-body .form-group {
  line-height: 38px;
  width: 100%;
}
#accordion-chep .panel.panel-default .panel-body .form-group.has-error.activate input.form-control.chep,
#accordion-chep .panel.panel-default .panel-body .form-group.has-error.activate select.form-control.chep {
  border: 1px solid #a94442;
}
#accordion-chep .panel.panel-default .panel-body .form-group.has-error.activate .help-block {
  display: block;
}
#accordion-chep .panel.panel-default .panel-body input,
#accordion-chep .panel.panel-default .panel-body select {
  text-align: center;
}
#accordion-chep .panel.panel-default .panel-body input.form-control.chep,
#accordion-chep .panel.panel-default .panel-body select.form-control.chep {
  /* width: 212px; */
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #000;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  box-shadow: none;
}
#accordion-chep .panel.panel-default .panel-body input.form-control.chep.actual,
#accordion-chep .panel.panel-default .panel-body select.form-control.chep.actual {
  border: 1px solid #7aa7c3;
  background: #e5f1f8;
}
#accordion-chep .panel.panel-default .panel-body input.form-control.porcentaje,
#accordion-chep .panel.panel-default .panel-body select.form-control.porcentaje {
  /* width: 171px; */
  width: 83%;
  margin-left: -15px;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-body input.form-control.porcentaje,
  #accordion-chep .panel.panel-default .panel-body select.form-control.porcentaje {
    float: left;
    margin-left: 0px;
  }
}
#accordion-chep .panel.panel-default .panel-body .signo-porcentaje {
  font-size: 16px;
  color: #000;
  margin-left: 12px;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-body .signo-porcentaje {
    float: right;
  }
}
#accordion-chep .panel.panel-default .panel-body label {
  font-family: "Arial Narrow", arial;
  font-size: 16px;
  line-height: 38px;
  color: #666;
  font-weight: normal;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-body label {
    line-height: 24px;
  }
}
#accordion-chep .panel.panel-default .panel-body .circle-question {
  width: 30px;
  height: 30px;
  background: #535353;
  color: #fff;
  /*position: absolute;*/
  margin-left: 0.5em;
  /* left: -28px; */
  border-radius: 50%;
  display: none;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-body .circle-question {
    /*float: left;
            margin-right: 10px;
            margin-left: 0em !important;*/
  }
}
#accordion-chep .panel.panel-default .panel-body .circle-question .question {
  font-family: "Arial Narrow", arial;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  margin-top: 3px;
}
#accordion-chep .panel.panel-default .panel-body .texto-columna {
  font-family: "Arial Narrow", arial;
  font-size: 14px;
  color: #535353;
}
#accordion-chep .panel.panel-default .panel-body .texto-columna-negrita {
  font-family: "Arial Narrow", arial;
  font-size: 14px;
  color: #535353;
  font-weight: bold;
}
#accordion-chep .panel.panel-default .panel-body .texto-escenario {
  font-family: "Arial Narrow", arial;
  font-size: 16px;
}
#accordion-chep .panel.panel-default .panel-body .texto-columna-no-aplicable {
  font-family: "Arial Narrow", arial;
  font-size: 14px;
  color: #9d9c9c;
}
#accordion-chep .panel.panel-default .panel-body .leyenda-requerido {
  font-size: 16px;
  color: #535353;
  margin-left: 85px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default .panel-body .leyenda-requerido {
    margin-left: 0px;
    float: right;
  }
}
#accordion-chep .panel.panel-default .panel-body.azul .titulo-formulario {
  color: #0076bf;
}
#accordion-chep .panel.panel-default .panel-body.azul .texto-escenario {
  color: #0076bf;
}
#accordion-chep .panel.panel-default .panel-body.azul .circle-question {
  background: #0076bf;
}
#accordion-chep .panel.panel-default .panel-body.azul .asterisco {
  font-size: 22px;
  color: #0076bf;
}
#accordion-chep .panel.panel-default .panel-body.verde .titulo-formulario {
  color: #92d14f;
}
#accordion-chep .panel.panel-default .panel-body.verde .texto-escenario {
  color: #92d14f;
}
#accordion-chep .panel.panel-default .panel-body.verde .circle-question {
  background: #92d14f;
}
#accordion-chep .panel.panel-default .panel-body.verde .asterisco {
  font-size: 22px;
  color: #92d14f;
}
.btn.btn-default.panel-body.verde .content-btn-generar  {
  background: #92d14f;
  border-color: #92d14f;
}
#accordion-chep .panel.panel-default .panel-body.verde .content-btn-generar .btn.btn-default:hover {
  background: #fff;
  color: #92d14f;
  border: 2px solid #e1e1e1;
  transition: all 0.25s ease-in-out;
}
#accordion-chep .panel.panel-default .panel-body .content-btn-generar {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}


#accordion-chep .panel.panel-default .panel-body .btn.btn-default {
    background: #0076bf;
    color: #fff;
    border-color: #0076bf;
    border-radius: 23.5px;
    height: 47px;
    font-family: "Arial Narrow", arial;
    font-size: 19px;
    font-weight: bold;
    line-height: 12px;
    padding: 15px 40px;
    letter-spacing: normal;
    transition: all 0.25s ease-in-out;
}
#accordion-chep .panel.panel-default .panel-body .btn.btn-default:hover {
  background: #fff;
  color: #0076bf;
  border: 2px solid #e1e1e1;
  transition: all 0.25s ease-in-out;
}
#accordion-chep .panel.panel-default .panel-body .btn.btn-default:focus {
  outline: none;
}
#accordion-chep .panel.panel-default .panel-body .btn.btn-default:active {
  box-shadow: none;
}
#accordion-chep .panel.panel-default .panel-body .help-block {
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
}
#accordion-chep .panel.panel-default .panel-body .content-alertas {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#accordion-chep .panel.panel-default .panel-body .content-alertas .alert {
  margin-bottom: 5px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
#accordion-chep .panel.panel-default .panel-body .content-alertas .alert.alert-success {
  border-color: transparent;
  color: #92d14f;
  background-color: #f2f9ea;
  font-size: 20px;
  font-weight: 400;
}
#accordion-chep .panel.panel-default .panel-body .content-alertas .alert.alert-danger {
  border-color: transparent;
  color: #f93d5c;
  background-color: #feebee;
  font-size: 20px;
  font-weight: 400;
  width: 90%;
}
#accordion-chep .panel.panel-default.negro .imagen-paso,
#accordion-chep .panel.panel-default.azul .imagen-paso,
#accordion-chep .panel.panel-default.verde .imagen-paso {
  font-family: "Arial Narrow", arial;
  width: 103px;
  height: 103px;
  position: absolute;
  float: left;
  border-radius: 50%;
  top: -15px;
  left: -50px;
}
#accordion-chep .panel.panel-default.negro .panel-title {
  color: #535353;
}
#accordion-chep .panel.panel-default.negro .panel-title .dropdown-step {
  background: #535353;
}
#accordion-chep .panel.panel-default.negro .panel-title a.collapsed .imagen-paso {
  border: 1px dashed #b3b3b3;
  border-width: 2px;
  background: #fff;
  color: #535353;
}
#accordion-chep .panel.panel-default.negro .panel-title a .imagen-paso {
  border: 1px dashed #b3b3b3;
  border-width: 2px;
  background: #fff;
  color: #535353;
}
#accordion-chep .panel.panel-default.negro .panel-title a .imagen-paso.save {
  border: 1px dashed #535353;
  border-width: 2px;
  background: #535353;
  color: #fff;
}
#accordion-chep .panel.panel-default.azul .panel-title {
  color: #0076bf;
}
#accordion-chep .panel.panel-default.azul .panel-title .dropdown-step {
  background: #0076bf;
}
#accordion-chep .panel.panel-default.azul .panel-title a.collapsed .imagen-paso {
  border: 1px dashed #b3b3b3;
  border-width: 2px;
  background: #fff;
  color: #535353;
}
#accordion-chep .panel.panel-default.azul .panel-title a .imagen-paso {
  border: 1px dashed #b3b3b3;
  border-width: 2px;
  background: #fff;
  color: #535353;
}
#accordion-chep .panel.panel-default.azul .panel-title a .imagen-paso.save {
  border: 1px dashed #0076bf;
  border-width: 2px;
  background: #0076bf;
  color: #fff;
}
#accordion-chep .panel.panel-default.verde .panel-title {
  color: #92d14f;
}
#accordion-chep .panel.panel-default.verde .panel-title .dropdown-step {
  background: #92d14f;
}
#accordion-chep .panel.panel-default.verde .panel-title a.collapsed .imagen-paso {
  border: 1px dashed #b3b3b3;
  border-width: 2px;
  background: #fff;
  color: #535353;
}
#accordion-chep .panel.panel-default.verde .panel-title a .imagen-paso {
  border: 1px dashed #b3b3b3;
  border-width: 2px;
  background: #fff;
  color: #535353;
}
#accordion-chep .panel.panel-default.verde .panel-title a .imagen-paso.save {
  border: 1px dashed #92d14f;
  border-width: 2px;
  background: #92d14f;
  color: #fff;
}
@media (max-width: 767px) {
  #accordion-chep .panel.panel-default {
    /* Panel-body */
    border-left: none;
  }
}
/* ASCENSOR */
.GoTop {
  display: none;
}
@media (max-width: 767px) {
  .GoTop {
    display: none !important;
  }
}
.GoTop i {
  font-size: 32px;
  position: fixed !important;
  top: 93% !important;
  right: 55px;
  cursor: pointer;
  color: #b3b3b3;
  opacity: .7;
  z-index: 1001;
  text-indent: 100%;
  display: flex;
}
/* MODALES */
.modal .modal-dialog .modal-content .modal-header {
  font-family: "Arial Narrow", arial;
  font-size: 16px;
  line-height: 38px;
  color: #666;
  font-weight: normal;
}
.modal .modal-dialog .modal-content .modal-header i {
  color: #666;
}
.modal .modal-dialog .modal-content .modal-header .close {
  color: #666;
}
.modal .modal-dialog .modal-content .modal-header .close:focus {
  outline: none;
}
.modal .modal-dialog .modal-content .modal-header .titulo {
  display: initial;
  vertical-align: text-bottom;
}
.modal .modal-dialog .modal-content .modal-body {
  font-family: "Arial Narrow", arial;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  font-weight: normal;
}
.modal .modal-dialog .modal-content .modal-body .contenido-imagen {
  display: table;
  margin: 10px auto;
}
/* Estilos para IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .acc-wizard .acc-wizard-sidebar {
    margin-right: -33px;
  }
  .acc-wizard .acc-wizard-sidebar li {
    margin: 2em 0 0.5em 5.05em;
  }
  .acc-wizard .acc-wizard-sidebar li a .circle-text {
    margin-left: -18px;
  }
  .modal .modal-dialog .modal-content .modal-body .contenido-imagen {
    display: block;
  }
}
/* Estilos MS EDGE */
@supports (-ms-ime-align:auto) {
  .acc-wizard .acc-wizard-sidebar {
    margin-right: -33px;
  }
  .acc-wizard .acc-wizard-sidebar li {
    margin: 2em 0 0.5em 5.05em;
  }
  .acc-wizard .acc-wizard-sidebar li a .circle-text {
    margin-left: -18px;
  }
}


/*GELLU INICIO*/
.navbar-logo {
    float:left;
}
.navbar-header {
    float:initial;
}

.navbar-inverse .navbar-nav > li > a {
    color: #535353;
    font-size: 15.5px;
    font-weight: bold;
}

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #535353;
        font-weight: bold;
    }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #535353;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #535353;
    font-weight: bold;
}

.INES {
    padding: 6px 0;
    font-size: 25.5px;
    color: #000;
}
    .INES .text-style-1 {
        font-size: 31.5px;
        font-weight: bold;
    }
.nowrap {
    white-space: nowrap;
}

.btn.btn-default {
    background: #0076bf;
    color: #fff;
    border-color: #0076bf;
    border-radius: 23.5px;
    font-family: "Arial Narrow", arial;
    font-size: 19px;
    font-weight: bold;
    padding: 15px 40px;
    /*height: 47px;*/
    /*line-height: 12px;*/
    /*letter-spacing: normal;*/
    transition: all 0.25s ease-in-out;
}


.row.title > div {
    font-size: 30px; 
    font-weight: bold; 
    color: #0076bf;
}

.row.search {
}


.form-inline {
    padding: 10px;
    background-color: #ababab;
}

.capa-gris {
    background-color: #f4f4f4;
    height: 65px;
    border-top: 1px solid #c7c7c7;
}
.capa-gris label {
    color:#535353;
    font-size: 18px;
}
.capa-gris .vertical {
    margin-top: 10px;
    height: 100%;
    text-align: center;
}
#accordion-chep .panel.panel-default .panel-body.form-inline {
    background: transparent;
}
.body-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 75px;
}
#accordion-chep {
    padding-left: 50px;
    padding-right: 15px;
}
.acc-wizard .menu-wizard.fijado .connecting-line {
    top: 42%;
}
.acc-wizard .menu-wizard.fijado {
    top:55px;
}
.modal .modal-body {
    max-height:500px;
    overflow-y: auto;
}

.question.link {
    cursor: pointer;
    text-decoration:underline;
    color:#535353;
    font-size:18px;
    font-weight: bold;
}
.question.link:hover, .question.link:focus, .question.link:active {
    color: #337ab7;
    outline: none;
}

span.validation {
    display:none;
}
.has-error span.validation {
    display:block;
}

.btn-step[disabled] {
    opacity: 0.2;
}
.btn-step.error {
    background-image: url(../images/icono-guardar-error.png) !important;
}
.btn-step.loading {
    background-image: url(../../images/cargando.gif) !important;
}


div.loading {
    position:absolute; top:0; left:0; width:100%; height:100%; background-color: lime; opacity:0.3;
}

#accordion-chep .panel.panel-default .panel-body .circle-question.no-help {
    background-color: transparent;
    cursor: default;
}

#accordion-chep .panel.panel-default .panel-body.verde .content-btn-generar .btn.btn-default {
    border-color: #92d14f;
    background-color: #92d14f;
}
.question.link.propuesta {
    font-size: inherit;
    color: #337ab7;
    text-decoration: none;
}

.question.link.propuesta:hover, .question.link.propuesta:focus {
    color: #23527c;
    text-decoration: underline;
}

/**
    Indica los colores de los círculos de navegación e indicación de step.
    Hay que quitar los estilos anteriores..

    .circle-step es la clase principal y según la proposal se pondrá en un color o otro
    Si no tiene proposal (NULL en BBDD) se coloca negro..
    Si es de Manufacturer => verde
    Si es de Retailer => azul
*/
.circle-step {
    color: #fff;
}
li.Manufacturer .circle-step {
    /*background: #92d14f !important;
    border: 1px dashed #92d14f !important;*/
}

li.Retailer .circle-step {
    /*background: #0076bf !important;
    border: 1px dashed #0076bf !important;*/
}

.panel.Manufacturer .imagen-paso {
    color: #535353 !important;
}

.panel.Manufacturer .imagen-paso.save {
    border: 2px dashed #92d14f !important;
    background: #92d14f !important;
    color: #fff !important;
}
.panel.Retailer .imagen-paso {
}

.panel.Retailer .imagen-paso.save {
    border: 2px dashed #0076bf !important;
    background: #0076bf !important;
    color: #fff !important;
}

.acc-wizard .acc-wizard-sidebar li:last-child:after {
    content:none !important;
}
.acc-wizard .connecting-line {
    z-index:unset;
    top:64px !important;
}
.acc-wizard .menu-wizard.fijado .connecting-line {
    top: 44px !important;
}

.btn.btn-generar.Retailer {
    background: #0076bf !important;
    border-color: #0076bf !important;
    border-radius: 23.5px;
    height: 47px;
    font-family: "Arial Narrow", arial;
    font-size: 19px;
    font-weight: bold;
    line-height: 12px;
    padding: 15px 40px;
    letter-spacing: normal;
    transition: all 0.25s ease-in-out;
}

.btn.btn-generar.Retailer:hover {
  background: #fff !important;
  color: #0076bf !important;
  border: 2px solid #e1e1e1;
  transition: all 0.25s ease-in-out;
}

.btn.btn-generar.Retailer:focus {
  outline: none;
  color: #fff;
}

.btn.btn-generar.Manufacturer {
    background: #92d14f !important;
    border-color: #92d14f !important;
    border-radius: 23.5px;
    height: 47px;
    font-family: "Arial Narrow", arial;
    font-size: 19px;
    font-weight: bold;
    line-height: 12px;
    padding: 15px 40px;
    letter-spacing: normal;
    transition: all 0.25s ease-in-out;
}

.btn.btn-generar.Manufacturer:hover {
  background: #fff !important;
  color: #92d14f !important;
  border: 2px solid #e1e1e1;
  transition: all 0.25s ease-in-out;
}

.btn.btn-generar.Manufacturer:focus {
  outline: none;
  color: #fff;
}

#accordion-chep .panel.panel-default .panel-body .btn.btn-default:hover {
  
}
#accordion-chep .panel.panel-default .panel-body .btn.btn-default:active {
  box-shadow: none;
}

.acc-wizard .menu-wizard.fijado {
    padding-right: 0 !important;
    top: 50px !important;
}
@media (min-width: 768px) {
    .acc-wizard .menu-wizard.fijado {
        width: 750px !important;
    }
}
@media (min-width: 992px) {
    .acc-wizard .menu-wizard.fijado {
        width: 970px !important;
    }
}
@media (min-width: 1200px) {
    .acc-wizard .menu-wizard.fijado {
        width: 1230px !important;
    }
}

.acc-wizard .acc-wizard-sidebar li:first-child {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  position: relative;
}
.acc-wizard .acc-wizard-sidebar li:first-child {
  content: '';
  width: 24%;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: -8px;
  bottom: 30px;
  z-index: 1;
}

.acc-wizard-todo.Retailer .circle-step{
  background: #0076bf !important;
  border: 1px dashed #0076bf !important;
  color: #fff !important;
}

.acc-wizard-todo.Manufacturer .circle-step{
  background: #92d14f !important;
  border: 1px dashed #92d14f !important;
  color: #fff !important;
}

.acc-wizard-todo.Retailer .circle-step{
  color: #fff;
}

.acc-wizard-todo.Manufacturer .circle-step{
  color: #fff;
}
/*.acc-wizard-todo.Manufacturer .circle-step,
.acc-wizard-todo.Retailer .circle-step {
  color: #fff !important;
}*/
.acc-wizard-todo.Manufacturer {
  color: #92d14f;
}
.acc-wizard-active .circle-step{
  box-shadow: 0 0 10px 5px rgba(83, 83, 83, 1);
  -moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
  /* -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6); */
  -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

.acc-wizard .acc-wizard-sidebar li:first-of-type {
  margin-top: 0px;
  margin-left: -18px;
  padding-left: 0px;
  position: relative;
}

#accordion-chep .panel.panel-default .panel-heading .panel-title a .dropdown-step {
  margin-top: 7.5px;
}

.modal .modal-dialog .modal-content .modal-header .close {
  opacity: 1;
  font-size: 32px;
}

/* GELLU FINAL*/