/*!
 * Sample styles for jQuery accordion wizard based on bootstrap
 * Original author: @stephen_thomas
 * Licensed under the MIT license
 */
ol.acc-wizard-sidebar li {
  position: relative;
  margin: 0 0 0.5em 2em;
  padding: 0.25em 0.75em;
  list-style: none;
}
ol.acc-wizard-sidebar li a {
  color: #333;
}
ol.acc-wizard-sidebar li:before {
  background: #333;
}
ol.acc-wizard-sidebar li.acc-wizard-completed {
  color: #999;
}
ol.acc-wizard-sidebar li.acc-wizard-completed a {
  color: #999;
}
ol.acc-wizard-sidebar li.acc-wizard-completed:before {
  background: #999;
}
ol.acc-wizard-sidebar li.acc-wizard-completed:after {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.33333333em;
  width: 1.875em;
  content: "\00a0\2713";
  position: relative;
  bottom: 0.1em;
}
ol.acc-wizard-sidebar li.acc-wizard-active {
  color: #08c;
}
ol.acc-wizard-sidebar li.acc-wizard-active a {
  color: #08c;
}
ol.acc-wizard-sidebar li.acc-wizard-active:before {
  background: #08c;
}
ol.acc-wizard-sidebar li:first-child {
  margin-top: 0.75em;
}
.acc-wizard-step {
  margin-top: 2em;
}
.panel-heading {
  height: 2.6em;
  position: relative;
  z-index: 1;
}
.panel-collapse {
  padding-top: 2.6em;
  margin-top: -2.6em;
}
