/* FUENTES */
@charset 'utf-8';
/* CSS Document*/

@font-face {
	font-family: 'Arial Narrow';
	src: url('../fonts/arialn-webfont.eot');
  src: url('../fonts/arialn-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arialn-webfont.woff') format('woff'),
       url('../fonts/arialn-webfont.woff2') format('woff2'),
       url('../fonts/arialn-webfont.ttf') format('truetype'),
       url('../fonts/arialn-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
	font-variant:normal;
  -webkit-font-smoothing: none;
}
